body {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    display: flex;
    min-height: 100vh;
    /*overflow: hidden;*/
    overflow: auto;
    flex-direction: column;
}

.container {
    flex: 1;
    opacity: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Add this CSS rule to set the maximum width for the content logo */
.container img {
    max-width: 100%; /* Set the maximum width to 100% of the parent container */
    height: auto; /* Maintain aspect ratio */
}


.header-image {
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: 20px; /* Set a fixed height or adjust as needed */
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image horizontally */
}


header {
    /*background: #52bedf;*/
    background: rgb(229, 245, 249);
    color: #106944;
    padding: 10px; /* Adjust padding as needed */
    /*border-bottom: 5px solid #59c9eb;*/
}


header h1 {
    font-size: 2.0em;
    margin: 0;
}

.main-content {
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.main-content h2 {
    color: #c0392b;
}

/*
.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
*/

.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next row */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 20px; /* Adjust the margin as needed */
}




.charming-button {
    margin: 5px; /* Add some margin between buttons for spacing */
    padding: 10px 20px; /* Adjust padding as needed */
    background: #2187c2;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
    transition: background 0.3s ease;
    flex-grow: 1; /* Add this property to make all buttons grow equally */
    box-sizing: border-box; /* Add this property to include padding and border in the button's total width */
}



@media (max-width: 600px) {
    .charming-button {
        padding: 10px 15px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}




.charming-button:hover {
    background: rgb(98, 9, 133);
    transform: scale(1.1);
}


footer {
    text-align: center;
    padding: 20px;
    background: #d35400;
    color: #fff;
    border-top: 5px solid #c0392b;
}




.image-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 20px;
}

.image-container img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.image-container img.big-image {
    width: 45%;
    height: auto;
}

.image-container img:hover {
    transform: scale(1.1);
}

